:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --icon-color: #AFB1B8;
  --secondary-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --conteiner-bg-color: #F5F5F5;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --black-text-color: #000000;
}

.container, .footer__container, .section__container, .page-header__container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.list, .address__list, .clients, .social, .team, .img-list, .info, .contact, .nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  background: var(--secondary-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  min-width: 1200px;
}

.page-header {
  border-bottom: 1px solid #ececec;
  color: #000000;
}
.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Logo */
.logo {
  color: inherit;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__accent {
  color: var(--accent-color);
}

/* Site nav */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  text-decoration: none;
}
.nav__link--active, .nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.nav__link--active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* Contact */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contact__item + .contact__item {
  margin-left: 50px;
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  color: var(--secondary-color);
  text-align: center;
  padding: 200px 0;
  background: #000;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/work-people.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/work-people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  min-width: 216px;
  background: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background: #188ce8;
}

.section {
  padding: 94px 0;
}
.section--top {
  padding-top: 0;
}
.section--secondary {
  background: #f5f4fa;
}
.section__title {
  margin: 0 0 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
}
.section__title--hidden {
  display: none;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.info__item {
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.info__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.info__img {
  background: var(--secondary-bg-color);
  border-radius: 4px;
  margin: 0 0 30px;
  text-align: center;
  line-height: 120px;
}
.info__icon {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}
.info__text {
  margin: 0;
}

.img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.img-list__thumb {
  position: relative;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.img-list__img {
  display: block;
}
.img-list__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}
.img-list__title {
  margin: 0;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}
.team__card {
  background: var(--secondary-color);
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
.team__img {
  display: block;
}
.team__descr {
  padding: 30px;
  font-size: 16px;
  line-height: 1.1875;
}
.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px -5px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social__link {
  fill: var(--icon-color);
  display: block;
  width: 44px;
  height: 44px;
  line-height: 42px;
  border-radius: 50%;
  margin: 10px 5px 0;
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.social__link--white {
  fill: var(--secondary-color);
  background: rgba(255, 255, 255, 0.1);
}
.social__link:hover, .social__link:focus {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
}
.social__img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.clients__link {
  display: block;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  width: 170px;
  height: 92px;
  line-height: 90px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__item {
  -ms-flex-preferred-size: calc(16.6666666667% - 30px);
      flex-basis: calc(16.6666666667% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.clients__img {
  vertical-align: middle;
}

.footer {
  background: #2f303a;
  color: var(--secondary-color);
  min-height: 252px;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.footer__column {
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 12px;
}
.footer__logo {
  vertical-align: top;
  display: inline-block;
  margin-top: -12px;
  margin-bottom: 20px;
}
.footer__prompt {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.address {
  font-style: normal;
  line-height: 1.72;
  margin-bottom: -7px;
}
.address__item {
  margin-bottom: 7px;
}
.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address__link--zero {
  margin-bottom: 0;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 0;
  padding: 10px 20px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.subscription__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscription__field {
  width: 358px;
  color: var(--secondary-color);
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin: 0 12px 0 0;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.subscription__field:hover, .subscription__field:focus {
  border-color: var(--accent-color);
  outline: none;
}
.subscription__icon {
  fill: var(--secondary-color);
  margin-left: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscription:hover, .subscription:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  padding: 25px;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background: var(--secondary-color);
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function) 250ms;
  transition: -webkit-transform 250ms var(--timing-function) 250ms;
  transition: transform 250ms var(--timing-function) 250ms;
  transition: transform 250ms var(--timing-function) 250ms, -webkit-transform 250ms var(--timing-function) 250ms;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  fill: var(--black-text-color);
}
.modal__button:hover, .modal__button:focus {
  cursor: pointer;
  fill: var(--accent-color);
  outline: none;
}
.modal__closed {
  vertical-align: middle;
  width: 11px;
  height: 11px;
}
.modal__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}/*# sourceMappingURL=main.css.map */