  
  /* Портфоліо */
  .filter,
  .portfolio-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter {
    justify-content: center;
    margin: 0 -4px 42px;
  }
  
  .filter li {
    margin: 0 4px 8px;
  }
  
  .filter-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    border: 0;
  
    background-color: #f5f4fa;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  }
  
  .filter-button.active,
  .filter-button:hover,
  .filter-button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .portfolio-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .portfolio-set {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .portfolio-card {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
  
  .portfolio-thumb {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-description {
    background-color:rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 63px 24px;
    color: #fff;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(101%);
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  }
  
  .portfolio-card-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
  }
  
  .portfolio-card:hover .portfolio-description,
  .portfolio-card:hover .portfolio-description {
    opacity: 1;
    transform: translateY(0);
  }
  
  .portfolio-card:hover,
  .portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio-card img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  .portfolio-card p {
    margin: 0;
  }
  
  .portfolio-content {
    border: 1px solid #eeeeee;
    border-top: 0;
    padding: 20px 24px;
  }
  
  /* Modal */
  
  textarea {
    resize: none;
    padding: 12px 16px;
  }
  
  .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-field label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  }
  
  .form-field input {
    color: var(--black-text-color);
    font-size: 12px;
    margin: 0;
    padding: 10px 10px 10px 40px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
  }
  
  .form-icon {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 13px;
    width: 15px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .form-icon svg {
    fill: var(--title-text-color);
    transition: fill 250ms var(--timing-function);
  }
  
  .form-field input:hover,
  .form-field input:focus {
    border-color: var(--accent-color);
    outline: none;
    cursor: pointer;
  }
  
  .form-field input:hover + .form-icon svg,
  .form-field input:focus + .form-icon svg {
    fill: var(--accent-color);
  }
  
  .form-field textarea {
    color: var(--black-text-color);
    font-size: 12px;
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
  }
  
  .form-field input::placeholder,
  .form-field textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  
  .form-field textarea:hover,
  .form-field textarea:focus {
    border-color: var(--accent-color);
    outline: none;
    cursor: pointer;
  }
  
  .form-check input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  .form-check label {
    position: relative;
    padding-left: 36px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  .form-check label a {
    margin-left: 4px;
    color: var(--accent-color);
  }
  
  .form-check label:before {
    position: absolute;
    left: 13px;
    top: 2px;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
    margin-right: 8px;
    transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
    background-image: url("../images/checked.svg");
    background-size: contain;
  }
  
  .form-check input:checked + label::before {
    background-color: var(--accent-color);
    border-width: 0;
  }
  
  .form-check label:hover:before,
  .form-check input:focus + label:before {
    border-color: var(--accent-color);
  }
  
  .submit {
    display: block;
    min-width: 200px;
    padding: 10px 52px;
    margin: 30px auto 0;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--timing-function);
  }
  
  .submit:hover,
  .submit:focus {
    background-color: #188CE8;
    outline: none;
  }